

<main>

    <section class="apresentation">
        <h1>Bem vindo ao Compselect Manager</h1>
        <p>
            Nessa página você pode ver algumas estatísticas sobre o website <strong>Compselect</strong>.
        </p>
    </section>

    <section class="statistic-qtt">
        <div *ngFor="let static of statics; index as i">
            <span>
                {{texts[i]}}
            </span>
            <span>{{statics[i]}}</span>
        </div>
    </section>

    <section class="statistic-summary" >
        <div>
            <span>Total de visitantes no último mês</span>
            <span>0</span>
        </div>

        <div>
            <span>Boucerate</span>
            <span>0%</span>
        </div>

        <div>
            <span>Média páginas por sessão</span>
            <span>0</span>
        </div>
    </section> <!--Seria interessante colocar uns graficos aqui--->
</main>