<nav>
    <div >
        <a routerLink="">Home <i class="material-icons">home</i></a>

    </div>
    <div>
        <a routerLink="/events">Eventos <i class="material-icons">calendar_month</i></a>
    </div>
    <div>
        <a routerLink="/blog">Blog <i class="material-icons">library_books</i></a>

    </div>
    <div>
        <a routerLink="/authors">Autores <i class="material-icons">person</i></a>
    </div>
    <div>
        <a routerLink="/publications">Publicações <i class="material-icons">auto_stories</i></a>
        <link-box>
        <a >criar um evento</a>    
        <a >editar ou excluir um evento</a>    
        <a >criar um evento</a>    
    </link-box>
    </div>

</nav>