
h2 {
    margin: 0;
}

nav {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav > div {
    position: relative;
}

nav > div:hover link-box {
    display: flex ;

}

link-box {
    display: none;
}


link-box a:hover {
    color: var(--color3);
}


nav a {
    margin: 10px;
    display: inline;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}

nav > div > a > i  {
    font-size: 1em;
    padding-bottom: 2px;
    vertical-align: middle;
}

