

.dinamicPost {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    margin: 0;
    width: 70%;
    height: 500px;
    object-fit: cover;

}

.dinamicPost h2 {
    font-size: 2rem;
    margin: 10px;
    text-align: center;
    width: 100%;
}

.content {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

}

.content * {

    margin: 5px 0;

}

.content p {
    font-size: 1rem;
    margin: 10px;
    text-align: start;
    width: 100%;}

.content a {
    align-self: start;
    text-decoration: none;
    color: var(--color2);

}

.content a:hover {
    color: var(--color3);


}

.content img {

    width: 100%;
    height: 30%;

}

.footer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.postDate{

    text-align: center;
    width: 100%;
}


.comments {

    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.comments h3 {

    text-align: center;
    width: 100%;
}


.comments > div > div > * {

    margin-right: 5px;

}

.comments > div > div > span:last-child {

    font-weight: lighter;

}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px 0;

}

.form > input, .form > textarea {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 10px;
    padding: 10px;
    border: none;
}


.form > input {
    width: 30%;

}

.form > textarea {
    width: 80%;
    height: 200px;
    resize: none;
}