.inputs {

display: flex;
flex-direction: column;
}

.dateDiv {
display: flex;
}
.dateDiv > mat-form-field {
margin-right: 10px;
}
.date {
width: 100%;
}

.buttons {

display: flex;
align-items: space-between;
justify-content: center;

}

.buttons > button {
margin: 0 5px;
width: 100px;
}

.file {
width: 100%;
align-self: center;
border-radius: 1px;
border: 2px dashed var(--color3);
padding: 20px 0px;
margin: 5px; 
text-align: center;
}

.file > input {
display: none;
}

.file > p > span {
cursor: pointer;
color: var(--color5);
font-weight: bolder;
}

.file > p > span:hover {
color: var(--color2);
}

.file > p {
font-weight: lighter;
}

.file > p > span > input[type="file"] {
position: absolute;
width: 85px;
opacity: 0;
}

.hidden {
opacity: 0;
width: 0;
height: 0;
position: absolute;
left: -999999999999px;
}

.event-image {
width: 200px;
}

.div-image {
display: flex;
flex-direction: column;
align-items: center;
align-self: center;
}

.div-image > button  {
margin-bottom: 10px;
margin-top: 10px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    align-items: space-between;
    justify-content: center;
  
  }
  
  .buttons > button {
    margin: 0 5px;
    width: 100px;
  }

.address > mat-form-field {
  width: 100%;
}


.locationDiv > mat-form-field {
  width: 49%;
  margin-right: 1%;
}