form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 20px;
    width: 100%;
}

form > mat-form-field {
    width: 100%;
}