@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Nabla&display=swap');

.aboutus{
    padding: 50px 0;
    width: 100vw;
    border-bottom: 1px var(--color3) solid;
}



.aboutus > div {
    width: 100vw;
}

.resume {

    width: 100vw;

}

.resume p {

    font-size: 1rem;

}

.aboutus h2{

    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 30px 0;



}

.aboutus h3{

    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px 0;


}

.aboutus p {

    padding: 0 4rem;
}


.aboutus .storyandmission > div{
    width: 50vw;
    padding: auto;

    display: block;
}

.aboutus .storyandmission {
    width: 100vw;
    display: flex;

}


.aboutus .seenfuture {
    justify-content: center;
    width: 50vw;
    margin: 0 auto;
}


    




.employee img {

    height: 100%;
    width: 7rem;
    border-radius: 4em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 1s all ease-in-out;
}

.employee img:hover{

    transform: scale(1.5,1.5);

}

.employee {
    width: 10vw;
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding: 3rem;
    flex-direction: column;

}

.employee > div:nth-last-child(1) {

    margin-top: 1rem;

}

.employee > div:last-child p {
    width: 100%;
    padding: 0;
    justify-self: start;
    text-align: start;
    padding-left: 6px;
}

.employee div:last-child p:first-child {

    font-weight: bold;
}

.function-employee {

    color: var(--color2);
}

.socials-media-employee{
    display: flex;
    margin: 0;
    padding-left: 6px;
}

.socials-media-employee svg {

    color: gray;
}

.socials-media-employee svg:hover {
    color: rgb(87, 86, 86);

}

.linkedin :only-child:hover {

    color: blue;

}

.instagram :only-child:hover {
    border-radius: 5px;
    color: #fff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}   

.team {

    display: flex;
    justify-content: start;
    margin: 20px 5px;
    border-radius: 100px;
}



.partners{


    display: flex;
    justify-content: center;
}

.partner h3 {

    font-size: 3rem;
    margin: 0 10px; 

}

.editora1 {
    font-family: "Nabla";


}

.editora2 {

    font-family: "Honk";

}