

.header-home {

    background-image: url("../assets/pexels-minan1398-694740.jpg") ;
    background-size: auto;
    background-repeat: round;
    align-content: center;

}

.apresentation-home {
    margin: 0 auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    height: 300px;
    background-color: white;
    opacity: 98%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.apresentation-home h2 {
    font-weight: bolder;
    font-size: 2em;
    text-align: center;

}

.apresentation-home span {
    align-self: center;
    padding: 15px;
    justify-items: center;
    align-content: center;
    font-size: 1.5em;
    width: 20rem;
    height: 4rem;
    border: 2px var(--color2) solid;
    color: var(--color5);
    font-weight: bolder;

}

.apresentation-home span:hover {

    background-color: var(--color2);
    color: white;
    cursor: pointer;
}

.emphasis {
    margin: 30px 0;
    text-align: center;

}

.emphasis h3 {

    font-size: 2em;
    font-weight: bold;

}

.send-book {

    left: 15vw;
    
    width: 70vw;
    height: 100%;
    background-color: var(--color4);
    position: fixed;
    padding: 40px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.send-book h3 {
    font-weight: bold;
    font-size: 2em;
    border-bottom: 2px solid var(--color2);
    padding: 8px;

}

.x {

    position: absolute;
    top: 1em;
    right: 2em;

}

.send-book form {

    padding: 20px;
    
    display: flex;
    flex-direction: column;
    text-align: start;

}

.send-book form label {

    padding: 2px;
    margin: 4px;

    border-left: 2px solid var(--color5);

}

.send-book form input {

    border-bottom: 3px solid var(--color2);
    border-left: 1px solid var(--color2);
    border-right: 1px solid var(--color2);
    border-top: 1px solid var(--color2);
    border-radius: 10px;
    width: 40vw;
    height: 2.5rem;
    padding: 5px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    box-shadow: var(--color2) 5px 5px, var(--color3) 10px 10px, var(--color4) 15px 15px;
}

.send-book form > div > button{

    padding: 10px;
    margin: 5px;

}

.submit-button {

    background-color: var(--color3);
    border-radius: 10px;
    width: 8rem;
    margin-left: 10px;
    font-weight: bold;
}

.submit-button:hover {

    background-color: var(--color2);
    color: #fff;

}

.reset-button {

    padding: 5px;
    width: 5rem;
    font-weight: bold;
}

.reset-button:hover {

    border-radius: 10px;
    background-color: rgb(218, 128, 128);
    color: #fff;


}

.carosel-home {

    margin-bottom: 60px;
    width: 100vw;
    height: 100%;
       
}

.react-multi-carousel-list  {
    
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.carosel-home *:hover {
    border-bottom: none;
}

.carosel-home div img{

    width: 100%;
    height: 100%;

}



.testimony {

    padding: 5px;
    margin: 10px 0;

}

.testimony h2 {

    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 30px;
}

.testimony > div {

    display: flex;
    width: 100%;
    
}

.testimony > div > div {
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 50px;
    width: 33%;
}

.testimony div > div > p {

    font-size: 1.5em;
    margin-bottom: 50px;
}

.testimony div > div cite {
    font-weight: bold;
    text-align: start;
}

.testimony div > div > span{

    display: block;

}

.stars {
    color: var(--color5);
    display: flex;
    margin-left: 0;
}

.event h2 {

    font-size: 1.7em;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}



.event table > thead th {

    border-bottom: 2px solid var(--color1);
    border-top: 2px solid var(--color1);
    color: #000;
    height: 40px;
}




.event table tbody tr td{
    border-bottom: 2px solid var(--color2);
    
    padding: 2.5rem;

}



.event table tbody tr:hover {

    background-color: var(--color2);
    border: 1px solid var(--color5);

}

.event table tbody tr td:nth-last-child(1){
    display: flex;
    text-align: center;
    align-content: center;
}

.event table tbody tr a {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-decoration: none ;
    width: 100%;
}

.event table tbody tr a:hover {

    color: var(--color5);
}