.button {

    background-color: var(--color5);
    color: #fff;
    margin: 0 10px;
    font-weight: bolder;
}

section {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 20px;
}