@import url('https://fonts.googleapis.com/css2?family=Honk&family=Nabla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '@angular/material/prebuilt-themes/purple-green.css';
:root {
    --color1: #593954;
    --color2: #013440;
    --color3: #026873;
    --color4: #038C8C;
    --color5: #038C7F;
}

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    width: 100vw;

}