

.footer {
    
    padding-bottom: 10px;
    background-color: var(--color2);
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;

    align-items: center;
}




.footer h3 {

    font-weight: bold;

}

.footer > div {

    display: flex;

}

@media (max-width: 950px) {

    .footer > div{

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        width: 100%;

    }

    .footer > div:first-child {
        align-items: center;
        height: 30px;

    }

    .footer > div:first-child > span {
        margin: 0 auto;
        position: absolute;
    }


}


.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    padding-bottom: 5px;
    padding-left: 5px;
    justify-self: start;

}

.footer ul li a {
    text-decoration: none;
    color: #000;
}

.footer ul li a:hover {

    color: #2e2e2e;

}


.footer div > div {

    width: 20vw;
    margin: 0 10px;

}

.footer div > div p, .footer div > div li{

    font-size: 0.8em;

}


.footer div > div li a :hover {

    border-bottom: none;

}

.socials {
    
    display: flex;
    flex-direction: row;
    width: 100%;
}

.socials > * {
    display: flex;
    width: 30px;
    height: 30px;
}



.copyright {

    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #fff;
    width: 100%;
    justify-content: center;
    font-size: 0.8em;

}

.backToTop {
    border-bottom: 3px solid var(--color5);
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--color1);
    width: 100vw;
    height: 100%;
    color: white;
    justify-content: center;

}

.backToTop:hover{

    color: black;
    cursor: pointer;

}

.divServices ul{

    list-style: none;

}

.footer form * {

    margin: 4px 0;
    font-size: 0.9rem;

}

.footer form input {
    background-color: var(--color2);
    margin: 0 5px;
    border: 0;
    border-bottom: 1px black solid;
}

.footer form input[type=checkbox] {
    
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid var(--color1);
    appearance: none;
    width: 1em;
    background-color: white;
    height: 1em;
        
}

.footer form input[type=checkbox]:checked{

    background-color: var(--color5);

}


.footer form input:focus {

    outline: none;
}

.footer form input[type=submit] {

    background-color: var(--color5);
    border-bottom: none;
    padding: 0.5rem;
    font-weight: bold;
    margin: 0 auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #fff;
}

.footer form input[type=submit]:hover {
    text-decoration: underline #fff;
    cursor: pointer;
}
