

.header {

    
    background-color: var(--color1);
    height: var(--header-heigth);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}




.header h1 {

    color: #fff;
    position: absolute;
    left: -9999999px;
}

.header ul {

    display: flex;
    

}

.header li{

    margin: 0 5px;
    transition: all 0.5s ease-in-out;
}

.header ul {

    list-style-type: none;

}


.header h1:hover{

    text-decoration: none;

}


.header .logo{

    font-family: "Protest Guerrilla";
}

.header li :hover {

    border-bottom: 2px var(--color5) solid;


}

.header li a {

    color: #fff;
    text-emphasis: none;
    text-decoration: none;
    font-size: 0.9rem;
}

.active{

    color: black;

}


.menuIcon{
    display: none;
}

@media (max-width: 768px) {

    .menu {
        background-color: black;
        display: none;

    }

    .header {

        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }



    .menuIcon{
        display: flex;
        justify-self: center;
        width: 5rem;
        font-size: 3rem;
    }
    .menuIcon:hover{
        color: var(--color5);
        cursor: pointer;
    }

    .header ul {
        flex-direction: column;
    }

    .menuBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 9999999999999;
        width: 50%;
        height: calc(100vh - var(--header-heigth));
        background-color: var(--color1);
        position: absolute;
        top: var(--header-heigth);
        right: 0px;
        border: 2px var(--color2) solid;
        border-top: none;
        font-size: 2em;
        margin: 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        overflow: scroll;
    }

    .menuBox ul {
        margin: auto 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
    }
    
    .menuBox li {
        display: flex;
        align-items: center;
        margin: 5px auto;
        padding: 15px auto;
        width: 100%;
    }

    .menuBox li a:hover {
        border-bottom: none;
        background-color: var(--color5);
    }

    .menuBox li a {
        padding: 10px 40%;
        width: 100%;
    }

}


