
.catalog {

    padding: 20px 3rem;
    width: 100%;

}
.catalog h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.catalog h2 {
    width: 100%;
    font-size: 2rem;

}


.catalog > div:last-child {
    height: 100%;

}