<form action="">
    <mat-form-field>
        <mat-label>Nome e Sobrenome</mat-label>
        <input matInput>
    </mat-form-field>

    <div>
        <file-input></file-input>
    </div>

    <mat-form-field>
        <mat-label>Bibliografia</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Publicações</mat-label>
        <input matInput placeholder="Separe as publicações por espaços">
    </mat-form-field>
    <ng-content>

    </ng-content>
</form>