
.post-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    text-align: center;
}

.post-element  p {
    width: 40vw;
    text-align: left;
}

.post-element > ng-container >* {
    margin-bottom: 1px;
}

.post-button {
    margin: 20px;
}


.delete-element-button {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: 10px;
}
