:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


.edit-event {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.edit-event > section{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: space-evenly;


}

.edit-event > section > * {
    margin: 0 10px;
}

